{
    "mastodon_servers":[
        {
        "access_token":"XXX",
        "api_base_url":"https://mastodon.social"
        },
        {
        "access_token":"XXX",
        "api_base_url":"https://mastodon.cloud"
        }
    ]
}